USE [master]
GO
/****** Object:  Database [CardMatchDB]    Script Date: 18/05/2019 17:10:22 ******/
CREATE DATABASE [CardMatchDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CardMatchDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CardMatchDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CardMatchDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CardMatchDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CardMatchDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CardMatchDB]
GO
/****** Object:  Table [dbo].[ContactUsMessages]    Script Date: 18/05/2019 17:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactUsMessages](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[MessageDateTime] [datetime] NOT NULL CONSTRAINT [DF_ContactUsMessages_MessageDateTime]  DEFAULT (getdate()),
	[UserPhoneNumber] [nvarchar](50) NULL,
	[UserEmail] [nvarchar](50) NULL,
	[MessageText] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_ContactUsMessages] PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GameScores]    Script Date: 18/05/2019 17:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameScores](
	[ScoreID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[GameDateTime] [datetime] NULL CONSTRAINT [DF_GameScores_GameDateTime]  DEFAULT (getdate()),
	[GameDuration] [decimal](18, 0) NOT NULL,
	[GameMoves] [int] NOT NULL,
 CONSTRAINT [PK_GameScores] PRIMARY KEY CLUSTERED 
(
	[ScoreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Images]    Script Date: 18/05/2019 17:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[ImageName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Images] PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UsersDetails]    Script Date: 18/05/2019 17:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersDetails](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[BirthDate] [date] NULL CONSTRAINT [DF_UsersDetails_BirthDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_UsersDetails] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UsersFeedbacks]    Script Date: 18/05/2019 17:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersFeedbacks](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[FeedbackDateTime] [datetime] NOT NULL CONSTRAINT [DF_UsersFeedbacks_FeedbackDateTime]  DEFAULT (getdate()),
	[FeedbackText] [nvarchar](250) NULL,
 CONSTRAINT [PK_UsersFeedbacks] PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[GameScores]  WITH CHECK ADD  CONSTRAINT [FK_GameScores_UsersDetails1] FOREIGN KEY([UserID])
REFERENCES [dbo].[UsersDetails] ([UserID])
GO
ALTER TABLE [dbo].[GameScores] CHECK CONSTRAINT [FK_GameScores_UsersDetails1]
GO
ALTER TABLE [dbo].[UsersFeedbacks]  WITH CHECK ADD  CONSTRAINT [FK_UsersFeedbacks_UsersDetails1] FOREIGN KEY([UserID])
REFERENCES [dbo].[UsersDetails] ([UserID])
GO
ALTER TABLE [dbo].[UsersFeedbacks] CHECK CONSTRAINT [FK_UsersFeedbacks_UsersDetails1]
GO
USE [master]
GO
